In [20]:
import os
import pandas as pd

In [21]:
data_insta = os.listdir('Dataset/Instagram')
data_insta

['instagramp14.json',
 'instagramp20.json',
 'instagramp7.json',
 'insta1000update.json',
 'instagram_doc_clustering-2021-4.json',
 'instagramp8.json',
 'instagramp18.json',
 'instagramp11.json',
 'instagramp6.json',
 'instagramp9.json',
 'instagramp2.json',
 'instagramp13.json',
 'instagramp17.json',
 'instagramp1.json',
 'instagramp16.json',
 'instagramp12.json',
 'instagramp15.json',
 'instagramp3.json',
 'instagramp19.json',
 'instagramp10.json',
 'insta1000update2.json',
 'instagramp5.json',
 'instagramp4.json']

In [22]:
data_twitter = os.listdir('Dataset/Twitter')
data_twitter

['twitter1000.json', 'twitter.json']

In [23]:
df_insta = pd.read_json('Dataset/Instagram/insta1000update2.json')
df_insta.head()

,post_username,post_userlink,post_description,post_time,post_like,comment_username,comment_userlink,comment_text,comment_like,comment_time,comment_reply
0,telkomuniversity,https://www.instagram.com/telkomuniversity/,Salah satu angle lain dari gedung Telkom Unive...,3w,"7,101",citra.tifany,https://www.instagram.com/citra.tifany/,YaAllah udah jadi ajaaa,0,3w,"{'username_reply': 0, 'username_reply_href': 0..."
1,telkomuniversity,https://www.instagram.com/telkomuniversity/,Salah satu angle lain dari gedung Telkom Unive...,3w,"7,101",mqmsu,https://www.instagram.com/mqmsu/,üòç,0,3w,"{'username_reply': 0, 'username_reply_href': 0..."
2,telkomuniversity,https://www.instagram.com/telkomuniversity/,Salah satu angle lain dari gedung Telkom Unive...,3w,"7,101",renaldywiryadipraja,https://www.instagram.com/renaldywiryadipraja/,"Bojong Soang yg dulu kampung kumuh, jorok dan ...",0,3w,"{'username_reply': 0, 'username_reply_href': 0..."
3,telkomuniversity,https://www.instagram.com/telkomuniversity/,Salah satu angle lain dari gedung Telkom Unive...,3w,"7,101",aabdsyukur,https://www.instagram.com/aabdsyukur/,Markas Avengers cabang kota Bandung,0,3w,"{'username_reply': 0, 'username_reply_href': 0..."
4,telkomuniversity,https://www.instagram.com/telkomuniversity/,Salah satu angle lain dari gedung Telkom Unive...,3w,"7,101",artdhya,https://www.instagram.com/artdhya/,üòç,0,3w,"{'username_reply': 0, 'username_reply_href': 0..."

In [24]:
df_final = pd.DataFrame()

In [25]:
for file in data_insta:
    df_curr = pd.read_json(f'Dataset/Instagram/{file}')
    df_curr = df_curr[['comment_text']]

    df_final = pd.concat([df_final, df_curr])

In [26]:
for file in data_twitter:
    df_curr = pd.read_json(f'Dataset/Twitter/{file}')
    df_curr = df_curr[['tweet_text']]
    df_curr.rename(columns = {'tweet_text':'comment_text'}, inplace = True)
    
    df_final = pd.concat([df_final, df_curr])

In [27]:
df_final.drop_duplicates(inplace=True)
len(df_final)

2011

In [28]:
df_final.to_csv('combined.csv', index=False)